html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.projects{
    background: #234359;
    background-image: url("./background.png");
    background-repeat: repeat-y;
    background-size: cover;
    color: whitesmoke;
    padding-top: 75px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.projects h1 {
  margin: 0 auto;
  font-size: 5vh;
  text-decoration: underline;
}

.projects-links{
  color: whitesmoke;
  font-weight: 600;
}

.projects-links:hover{
  color: #cc9b4c;
  font-weight: 600;
}

.projects hr {
  margin-top: 35px;
  margin-bottom: 25px;
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: whitesmoke;
}

.hackclt{
  margin-top: 30px;
  margin-left: 8%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.hackclt-text{
  text-align: left;
}

.hackclt img{
  width: 25%;
}

.deliveryrobot{
  margin-top: 10px;
  margin-left: 8%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.deliveryrobot-text{
  text-align: left;
  width: 940px;
}

.deliveryrobot img{
  width: 25%;
}

@media(max-width:1024px){
  .hackclt{
    margin-left: 2vw;
  }
  
  .hackclt img{
    margin-right: 2vw;
  }

  .deliveryrobot{
    margin-left: 2vw;
  }

  .deliveryrobot img{
    margin-right: 2vw;
  }
}

@media(max-width:768px){
  .hackclt{
    margin-left: 2vw;
  }
  
  .hackclt img{
    margin-right: 2vw;
  }

  .deliveryrobot{
    margin-left: 2vw;
  }

  .deliveryrobot img{
    margin-right: 2vw;
  }
}

@media(max-width:480px){
  .hackclt{
    flex-direction: column;
    margin-right: 40px;
    margin-left: 5vw;
  }

  .hackclt ul li{
    margin-top: 15px;
  }

  .hackclt img{
    margin-left: 8vw;
    width: 75%;
  }

  .deliveryrobot{
    margin-top: 0px;
    margin-right: 40px;
    flex-direction: column;
    margin-left: 5vw;
  }

  .deliveryrobot-text{
    width: 100%;
  }

  .deliveryrobot ul li{
    margin-top: 15px;
  }

  .deliveryrobot img{
    width: 75%;
    margin-left: 8vw;
  }
}