html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.projects{
    background-image: url("./background.png");
    background-repeat: repeat-y;
    background-size: cover;
    color: whitesmoke;
    padding-top: 75px;
    min-height: 100vh;
}