.navbar {
    background-color: #234359;
    padding: 1px 0;
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 39%;
    border-bottom: 2px groove #cc9b4c;
  }

  .navbar img{
    width: 40px;
    margin-left: 2%;
  }
  
  .show-navbar {
    transform: translateY(0);
  }
  
  .hide-navbar {
    transform: translateY(-100%);
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #234359;
  }
  
  .nav-menu li {
    position: relative;
    padding: 10px 20px;
  }
  
  .nav-menu li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-menu li a:hover {
    color: #cc9b4c;
  }
  
  .nav-menu li hr {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #cc9b4c;
    border: none;
    margin: 0;
  }

  body {
    margin: 0;
  }
  